/* General */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-align: center;
}

/* States */
.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.states-choropleth {
  fill: #ccc;
}

/* Tooltip */
#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
  display: none;
}

.tooltip_title {
  font-size: 16px;
  font-weight: bold;
}

.tooltip_key {
  font-weight: bold;
  font-size: 12px;
}

.tooltip_value {
  margin-left: 20px;
  float: right;
  font-size: 12px;
}

/* Bar chart */

.bar {
  fill: #d3e5ff;
}

.bar:hover {
  fill: #000066;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.axis-label {
  font-weight: bold;
  font-size: 14px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 4px;
  background: #000066;
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 1;
  color: #000066;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.bar-chart-tooltip {
  font-size: 14px;
  font-weight: bold;
  color: #d3e5ff;
}